.attension
				.main-title
					| Важная информация
				.attension__text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus quia, culpa nam illo dolores saepe recusandae consectetur aperiam! Quidem nesciunt modi fugiat optio aut quaerat cupiditate dolorem iusto corporis?
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus quia, culpa nam illo dolores saepe recusandae consectetur aperiam! Quidem nesciunt modi fugiat optio aut quaerat cupiditate dolorem iusto corporis?
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus quia, culpa nam illo dolores saepe recusandae consectetur aperiam! Quidem nesciunt modi fugiat optio aut quaerat cupiditate dolorem iusto corporis?
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus quia, culpa nam illo dolores saepe recusandae consectetur aperiam! Quidem nesciunt modi fugiat optio aut quaerat cupiditate dolorem iusto corporis?
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus quia, culpa nam illo dolores saepe recusandae consectetur aperiam! Quidem nesciunt modi fugiat optio aut quaerat cupiditate dolorem iusto corporis?
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus quia, culpa nam illo dolores saepe recusandae consectetur aperiam! Quidem nesciunt modi fugiat optio aut quaerat cupiditate dolorem iusto corporis?