doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <!--<![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <!--<![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <!--<![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
html(lang="ru-RU")
	head
		meta(http-equiv = "Content-Type", content = "text/html; charset=utf-8")
		meta(http-equiv = "X-UA-Compatible", content = "IE=edge, chrome=1")
		meta(name = "viewport" content = "width=device-width")
		title
			block title
		//- SEO
		meta(name="description" content="loftschool_homework")
		meta(name="keywords" content="loftschool_homework")
		meta(name="author" content="Feer Alexander")
		//- FAVICON
		link(rel="shortcut icon" href="img/favicon-16x16.png" type="image/x-icon")
		link(rel="icon" href="img/favicon-16x16.png" type="image/x-icon")
		//- CSS
		link(rel="stylesheet" type='text/css' href="style/css/main.css")
		//- MODERNIZER
		script(src="bower_components/modernizer/modernizr.js")
	body
		.wrapper
			.maincontent
				include _common/_header

				article.content-wrapper
					.container
						.main-title
							block content
						.main-content
							include _common/_sidebar
							include _common/_content
						include _common/_main_footer

		include _common/_footer

		script(src="bower_components/jquery/dist/jquery.js")
		script(src="js/_plugins/jquery-ui.js")
		script(src="js/_plugins/jquery.columnizer.min.js")
		script(src="js/_plugins/select2.min.js")
		script(src="js/main.js")