.change__block {
	float: right;
	width: 743px;
	margin-bottom: 34px;
	// background: red;
}

// ЗАГОЛОВОК
.header__cort {
	border: 1px solid rgb(222, 225, 228);
	border-radius: 5px;
	background-color: rgba(217, 229, 234, 0.6);
	margin-bottom: 20px;
	@include clearfix();
}
// --------------------------------------------
.sort__of {
	font-family: "Open Sans Regular";
	font-size: 14px;
	color: #5d656c;
	margin: 0;
	margin-left: 21px;
	float: left;
	line-height: 50px;
}
.spisok {
	border: 1px solid rgb(235, 237, 239);
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
	width: 141px;
	height: 26px;
	line-height: 25px;
	margin-top: 11.5px;
	margin-left: 9px;
	text-indent: 9px;
	float: left;
}
.variants__catalog {
	font-family: "Open Sans Regular";
	font-size: 14px;
	color: #5d656c;
	float: right;
	margin: 0;
	line-height: 50px;
}

.variants__list {
	font-size: 0;
	float: right;
	margin-left: 17px;
}
// ---------------------------------------------
.variants__item {
	display: inline-block;
	border-left: 1px solid rgb(222, 225, 228);
}
.variants__link {
	display: block;
	width: 50px;
	height: 51px;
	position: relative;
}


$views-map: sprite-map("icons/views/*.png", $spacing: 70px);
$items: six, nine, three;

@each $item in $items {
	.variants__link_#{$item} {
		.sort__view-icon {
			@include get-sprite($views-map, $item);
			@include absolute-center;
		}

		&:hover {
			$hover-icon: $item + '-hover';
			.sort__view-icon {
				@include get-sprite($views-map, $hover-icon);
			}
		}

		&.active {
			$hover-icon: $item + '-hover';
			.sort__view-icon {
				@include get-sprite($views-map, $hover-icon);
			}
		}
	}
}

// ЭЛЕМЕНТЫ
.tovar__box {
	margin-bottom: 66px;
}
.tovar__list {
	font-size: 0;
	margin-left: -19px;
	border-radius: 5px;
}

.tovar__item {
	border: 1px solid rgb(222, 225, 228);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.6);
	width: 233px;
	padding: 19px 0 19px 0;
	margin: 0 0 19px 19px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	position: relative;
	&:hover {
		box-shadow: 0px 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
		position: relative;
		z-index: 10;
	}
}

.tovar__images__box {
	width: 134px;
	margin: 0 auto;
}

.tovar__images__list {
	font-size: 0;
	margin-left: -16px;
	margin-bottom: 15px;
}

.tovar__images__item {
	display: inline-block;
	margin-left: 16px;
	border: 1px solid #dee1e4;
	border-radius: 2px;
	overflow: hidden;
	&:hover {
		border-color: #ff6600;
	}
	&.active {
		border-color: #ff6600;
	}
}

.tovar__image__big{
	width: 100%;
}
.tovar__image__big__wrapper {
	width: 132px;
	height: 132px;
	border: 1px solid #dee1e4;
	border-radius: 2px;
	margin-bottom: 15px;
	overflow:hidden;
}

.tovar__image__small {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.tovar__zagolovok {
	width: 137px;
	margin: 0 auto;
	font-family: "Open Sans Semibold";
	font-size: 14px;
	color: #000;
	line-height: 20px;
	text-align: center;
	margin-bottom: 2px;
}

.tovar__option__list {
	width: 213px;
	margin: 0 auto;
	font-size: 0;
	margin-bottom: 8px;
}

.tovar__opton__item {
	height: 21px;
	font-family: "Open Sans Regular";
	font-size: 14px;
	line-height: 20px;
	color: #333;
	@include clearfix();
}

.tovar__opton__item:nth-child(odd) {
	background: #e6e6e6;
}
.tovar__question {
	float: left;
}
.tovar__answer {
	float: right;
}

// ----------------------
.star__box {
	margin: 0 auto;
	width: 137px;
	@include clearfix();
}

.stars__list {
	float: left;
	font-size: 0;
	margin-bottom: 9px;
}

.stars__item {
	display: inline-block;
	margin-left: 4px;
}
.star__number {
  border-radius: 7px;
  background-color: rgb(181, 190, 202);
  width: 28px;
  height: 15px;
  font-family: "Open Sans Semibold";
  font-size: 11.82px;
  color: #fbfbfb;
  float: right;
}
.tovar__stoimost {
	font-family: "Open Sans Semibold";
	font-size: 20px;
	color: #333;
	line-height: 20px;
	margin-bottom: 5px;
}

.rouble{
    font-family: "Rouble";
    font-style: normal;

    &:after {
        content: "a";
        font-style: inherit;
        font-size: inherit;
        line-height: inherit;
    }
}

.podval__center {
	margin: 0 auto;
	width: 209px;
	@include clearfix();
}

.nalichie__sfera {
  border-radius: 50%;
  background-color: rgb(96, 172, 73);
  width: 7px;
  height: 7px;
  float: left;
  margin: 13px 0 0 8px;
}

.tovar__nalichie {
	font-family: "Open Sans Bold";
	font-size: 12px;
	color: #7f7f7f;
	float: left;
	margin-left: 8px;
	line-height: 33px;
}


.in_korzina {
	font-family: "Open Sans Bold";
	font-size: 14px;
	color: #fff;
	border-radius: 5px;
	background: #ff6600;
	padding: 6.75px 14.4px;
	float: right;
	text-decoration: none;
}

// ------------------------
.battons__list {
	float: right;
	font-size: 0;
}
.battons__item {
	display: inline-block;
	margin-left: 4px;
}
.battons__link {
	font-family: "Open Sans Bold";
	font-size: 12px;
	color: #7f7f7f;
	text-decoration: none;
	padding: 3.5px 8.5px;
	border: 1px solid #dee1e4;
	border-radius: 3px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),inset 0px 1px 0px 1px rgba(255, 255, 255, 0.004);
	background: #fff;
	&:hover {
		background: #e0e0e0;
	}
}



.tovar_articl {
	font-family: "Open Sans Bold";
	font-size: 12px;
	color: #7f7f7f;
	display: none;
	width: 100%;
	text-align: center;
}
.article_span {
	font-family: "Open Sans Semibold";
	font-size: 14px;
	color: #333;
}

.modific_six {
	&.tovar__list {
		margin: 0;
		border: 1px solid rgb(222, 225, 228);
	}
	.tovar__item:first-child {
		border: 0 none;
	}
	.tovar__item {
		border: 0 none;
		border-top: 1px solid rgb(222, 225, 228);
		border-radius: 0;
		display: block;
		width: 100%;
		margin: 0;
		@include clearfix();
	}
	.tovar__item:first-child {
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
	.tovar__item:last-child {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.tovar__images__box {
		float: left;
		margin-left: 19px;
	}
	.tovar__zagolovok {
		height: auto;
		width: 375px;
		font-size: 16px;
		margin: 0 0 30px 19px;
		text-align: left;
	}
	.tovar__option__list {
		margin: 0;
		width: auto;
		margin-left: 19px;
		margin-bottom: 7px;
		text-align: left;
	}
	.tovar__opton__item {
		height: auto;
		font-family: "Open Sans Regular";
		font-size: 14px;
		line-height: 20px;
		color: #333;
		display: inline-block;
		background: transparent;
		@include clearfix();
	}
	.star__box {
		margin: 0 46px 0 14px;
	}
	.star__list {
		margin-left: -4px;
	}
	.tovar__stoimost {
		text-align: right;
	}
	.podval__center {
		width: auto;
		position: absolute;
		right: 0;
		bottom: -13px;
	}
	.nalichie__sfera{
		float: left;
		margin-left: 57px;
	}
	.tovar__nalichie {
		float: right;
	}
	.in_korzina {
		float: right;
	}
	.stoimost_box {
		position: absolute;
		top: 23px;
		bottom: 23px;
		right: 23px;
		width: 140px;
		margin-left: 37px;
		border-left: 1px solid #ccc;
	}
	.tovar__about__box {
		float: left;
		width: 395px;
	}
	.tovar_articl {
		display: block;
		float: left;
	}
}

.modific_three {
	&.tovar__list {
		margin: 0;
		border: 1px solid rgb(222, 225, 228);
	}
	.tovar__item:first-child {
		border: 0 none;
	}
	.tovar__item {
		border: 0 none;
		border-top: 1px solid rgb(222, 225, 228);
		border-radius: 0;
		display: block;
		width: 100%;
		margin: 0;
		@include clearfix();
	}
	.tovar__item:first-child {
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
	.tovar__item:last-child {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.tovar__images__list {
		display: none;
	}
	.tovar__image__big__wrapper {
		display: none !important;
	}
	.tovar__option__list {
		display: none;
	}
	.star__box {
		display: none;
	}
	.tovar_articl {
		display: block;
		float: left;
		padding-top: 6px;
	}
	.tovar__images__box {
		float: left;
	}
	.tovar__about__box {
		float: left;
	}
	.stoimost_box {
		float: right;
	}
	.tovar__stoimost {
		padding-top: 7px;
		margin-right: 12px;
		float: left;
	}
	.tovar__zagolovok{
		height: auto;
		width: 274px;
		text-align: left;
		margin: 0;
		padding-top: 6px;
		float: left;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.podval__center {
		margin: 0;
		margin-right: 19px;
		float: left;
	}
}

$select-tr-map: sprite-map('icons/select-tr/*.png', $spacing: 70px);

.sort__select {
	padding-top: 11px;
	padding-left: 20px;
	@include inlineblock(middle);
}
.select2-container {
	width: 160px !important;

	* {
		outline: none !important;
	}

	.select2-selection__arrow {
		b {
			@include get-sprite($select-tr-map, to-bottom);
			height: 9px !important;
			width: 13px !important;
			border: 0 none !important;
			margin: auto !important;
			top: 0 !important;
			left: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
		}
	}

	&.select2-container--open {
		b {
			@include get-sprite($select-tr-map, to-top);
		}
	}

	.select2-selection__rendered {
		font-size: 12px;
		font-family: "Open Sans Light";
		color: #7f7f7f;
		line-height: 24px !important;
	}

	.select2-dropdown {
		margin-top: 2px;
		bottom: 0 none;
		@include box-shadow(0 0 5px 0 rgba(134, 134, 134, .75));
		@include border-radius(5px);
		background: #fff;

		.select2-results__option {
			background: #fff;
			font-size: 14px;
			line-height: 17px;
			font-family: "Open Sans Light";
			color: #7f7f7f;

			&.select2-results__option--kighlighted {
				color: #333 !important;
				font-family: "Open Sans Semibold";
			}
		}
	}
}