.footer {
	background: url("../../../img/bg.jpg");
	padding-top: 35px;
	@include clearfix();
}
.logo__tip {
	width: 50%;
	float: left;
	padding-top: 37px;
}
.footer__links {
	width: 50%;
	float: right;
	text-align: right;
}
.footer__links__list {
	margin-bottom: 17px;
}

.footer {

	.socials__link {
		width: 45px;
		height: 45px;
		background: #fff;
		display: block;
	}

	.socials__item {
		margin-left: 26px;
	}

	$dark-socials-map: sprite-map("icons/socials__dark/*.png", $spacing: 70px);

	$items: fb, vk, tw;
	@each $item in $items {
		.socials__item_#{$item} {
			.socials__link {
				&:after {
					@include get-sprite($dark-socials-map, $item);
					content: "";
					@include absolute-center;
				}

				&:hover {
					&:after {
						$icon-name: $item + '-hover';
						@include get-sprite($dark-socials-map, $icon-name);
					}
				}
			}
		}
	}
}
.footer__menu__list {
	margin: 0 0 26px -28px;
}
.footer__menu__item {
	display: inline-block;
	margin: 0 0 0 28px;
}
.footer__menu__link {
	font-family: "Open Sans Regular";
	font-size: 14px;
	line-height: 36px;
	color: #fff;
}
.copy__right {
	height: 28px;
	border-top: 1px solid #494949;
	font-family: "Open Sans Regular";
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 28px;
}