.header__block {
	margin-bottom: 28px;

}
.mid {
	width: 1100px;
	margin: 0 auto;
	position: relative;
	@include clearfix();
}
.header__block:nth-child(odd) {
	background: #fff;
	border-bottom: 2px solid #ebedef;
}
.header__block_top {
	padding: 25px 0;
}

// ...
.social__list {
	font-size: 0;
	margin-left: -16px;
	float: left;
}
.socials__item {
	@include inlineblock(middle);
	margin-left: 12px;

	&:first-child {
		margin-left: 0;
	}
}

.socials__link {
	display: block;
	width: 26px;
	height: 26px;
	@include border-radius(50%);
	background: #333;
	position: relative;
}

$socials: fb, vk, tw;
$socials-map: sprite-map("icons/socials/*.png", $spacing: 70px);

@each $social in $socials {
	.social__link_#{$social} {
		@include get-sprite($socials-map, $social);

		&:hover {
			$icon-name: $social + '-hover';
			@include get-sprite($socials-map, $icon-name);
		}
	}
}

.contact__list {
	font-size: 0;
	float: right;
}
.contact__item {
	display: inline-block;
	margin-left: 85px;
}
.contact__link {
	font-size: 15px;
	text-decoration: none;
	color: #333;
}
 
.contact__link_street {
	font-size: 14px;
  	font-family: "Open Sans Regular";
	&:before {
		content: "";
		@include get-sprite($misc-sprite, pin);
		@include inlineblock(middle);
		margin-right: 9px;
	}
}

.contact__link_phone {
	font-size: 18px;
  	font-family: "Open Sans Semibold";
	&:before {
		content: "";
		@include inlineblock(middle);
		margin-right: 11px;
		@include get-sprite($misc-sprite, phone);
	}
}


// MODULE 2 START
.logo {
	font-size: 0;
	float: left;
}
// Форма поиска
.form {
	position: relative;
	border-radius: 10px;
	width: 365px;
	height: 34px;
	float: left;
	margin-top: 1px;
	margin-left: 49px;
}
.form__search__input {
	width: 100%;
	height: 100%;
	text-indent: 15px;
	border: 1px solid #dee1e4;
	position: absolute;
	padding: 0;
	top: 0;
	left: 0;
	border-radius: 2px;
	font-family: "Open Sans Light";
	font-size: 14px;
	outline: none;
	box-sizing: border-box;
}
.form__search__input::-webkit-input-placeholder {color: #7f7f7f;}
.form__search__input:-moz-placeholder {color: #7f7f7f;}

.form__search__button {
	width: 77px;
	height: 34px;
	background: rgb(255,102,0);
	color: #fff;
	border: none;
	outline: none;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 2px 2px 0;
	z-index: 10;
	font-size: 16px;
	font-family: "Open Sans Semibold";
}
// .....
.search__map__list {
	margin-left: -33px;
	float: right;
	line-height: 35px;
}
.search__map__item {
	margin-left: 33px;
	display: inline-block;
}
.search__map__link {
	font-family: "Open Sans Semibold";
	font-size: 16px;
	color: #333;
	&:hover {
		color: #ff6600;
	}
}
// MODULE 2 END

// Категории
.category__list {
	font-size: 0;
	text-align: center;
}
.category__item {
	display: inline-block;
	background: #fff;
}
.category__link {
	display: block;
	padding: 15px 15px;
	font-size: 16px;
	color: #333;
	font-family: "Open Sans Regular";
	text-decoration: none;
	&:hover {
		background: #e4e2e2;
	}
}
.category__link.category__link_active {
	background: $orange;
	font-family: "Open Sans Semibold";
	color: #fff;
}

// Меню
.menu__list {
	margin-bottom: 20px;
}
.menu__item {
	display: inline-block;
}
.menu_link {
	font-size: 14px;
	color: #333;
	font-family: "Open Sans Regular";
	text-decoration: none;
}
.menu_link_active {
	color: #ff6600;
	text-decoration: underline;
}

.category {
	font-family: "Open Sans Bold";
	color: #333;
	font-size: 20px;
	margin: 0;
}