.header__main__footer {
	@include clearfix();
}
.header__main__footer__header {
	font-family: "Open Sans Bold";
	font-size: 20px;
	color: #333;
	margin: 0 0 20px 0;
	display: block;
}
.info__text__left {
	width: 535px;
	float: left;
}
.info__text__right {
	width: 535px;
	float: right;
}
.info__text {
	font-family: "Open Sans Regular";
	font-size: 14px;
	color: #333;
	margin-bottom: 25px;
	text-align: justify;
}